@media screen and (max-width: 1654px) {
  .container {
    width: 70%;
  }
  #main-right img {
    width: 70%;
  }
  #main-section-wrapper #main-left h1 {
    font-size: 3.5rem;
  }
  #about-me-wrapper #about-right {
    justify-content: center;
    width: 50%;
  }
  #about-me-wrapper #about-right #skills .skills-col {
    width: 40%;
  }
  #services-wrapper .services-col {
    width: 30%;
    height: 410px;
  }
  #services-wrapper .services-col h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    width: 80%;
  }
  #main-section-wrapper #main-left {
    width: 70%;
  }
  #main-section-wrapper #main-left h1 {
    font-size: 3.5rem;
  }
  #about-me-wrapper #about-right {
    background-image: none;
  }
  #about-me-wrapper #about-left p {
    width: 100%;
  }
  #services-wrapper .services-col {
    height: 200px;
  }
  #services-wrapper .services-col h2 {
    font-size: 1.3rem;
  }
  #services-wrapper .services-col p {
    display: none;
  }
}
@media screen and (max-width: 935px) {
  #main-section-wrapper #main-left {
    width: 90%;
  }
  #main-section-wrapper #main-left h1 {
    font-size: 3rem;
  }
  #main-section-wrapper #main-left #button-wrapper a:first-child {
    font-size: 1rem;
  }
  #main-section-wrapper #main-left #button-wrapper a:last-child {
    font-size: 1rem;
  }
  #about-me-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #about-me-wrapper #about-left, #about-me-wrapper #about-right {
    width: 85%;
  }
}
@media screen and (max-width: 775px) {
  #navigacija {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  #main-section-wrapper {
    height: 75vh;
  }
  #main-section-wrapper #main-right {
    display: none;
  }
  #main-section-wrapper #main-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #main-section-wrapper #main-left #button-wrapper a:last-child {
    display: none;
  }
  #services-wrapper .services-col {
    height: 160px;
    width: 31%;
  }
  #services-wrapper .services-col h2 {
    font-size: 1.05rem;
  }
  #services-wrapper .services-col i {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  #navigacija #nav-menu li a span {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #navigacija #nav-menu ul li a {
    font-size: 1rem;
  }
  #main-section-wrapper #main-left {
    height: 60vh;
  }
  #main-section-wrapper #main-left h1 {
    font-size: 2.2rem;
  }
  #main-section-wrapper #main-left h3 {
    font-size: 1.2rem;
  }
  #about-me-wrapper #about-left img {
    width: 80%;
  }
  #about-me-wrapper #about-right #skills .skills-col h3 {
    font-size: 1rem;
  }
  #about-me-wrapper #about-right #info-me .info-me-col h2 {
    font-size: 1.5rem;
  }
  #about-me-wrapper #about-right #info-me .info-me-col p {
    font-size: 0.8rem;
  }
  #services-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: none;
  }
  #services-wrapper .services-col {
    width: 80%;
  }
  #services-wrapper .services-col:nth-child(2) {
    margin: 20px 0px;
  }
}/*# sourceMappingURL=responsive.css.map */