@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
#navigacija {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#navigacija #logo-block {
  width: 100px;
}
#navigacija #logo-block a img {
  width: 100px;
}
#navigacija #nav-menu ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  font-size: 1.3rem;
}
#navigacija #nav-menu ul li a span {
  color: #329980;
}

#main-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80vh;
}
#main-section-wrapper #main-left {
  width: 50%;
}
#main-section-wrapper #main-left h1 {
  font-size: 4rem;
  color: #ccd6f6;
  margin-bottom: 10px;
}
#main-section-wrapper #main-left h1 span {
  color: #0f172a;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #fff;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#main-section-wrapper #main-left h3 {
  font-size: 1.5rem;
  color: #ccd6f6;
  margin-bottom: 40px;
}
#main-section-wrapper #main-left #button-wrapper a:first-child {
  border-radius: 5px;
  padding: 17px 12px;
  font-size: 1.2rem;
  color: #329980;
  border: 1px solid #329980;
  transition: all 0.5s;
}
#main-section-wrapper #main-left #button-wrapper a:first-child:hover {
  color: white;
  background-color: rgba(50, 153, 128, 0.7);
}
#main-section-wrapper #main-left #button-wrapper a:last-child {
  border-radius: 5px;
  padding: 17px 12px;
  font-size: 1.2rem;
  background-color: rgba(50, 153, 128, 0.7);
  border: 1px solid rgba(50, 153, 128, 0.7);
  margin-left: 15px;
  transition: all 0.5s;
}
#main-section-wrapper #main-left #button-wrapper a:last-child:hover {
  background-color: #329980;
}
#main-section-wrapper #main-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url("../img/Ellipse.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#about-me-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#about-me-wrapper #about-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
#about-me-wrapper #about-left h2 {
  color: #CCD6F6;
}
#about-me-wrapper #about-left * {
  text-align: center;
  margin: 10px auto;
}
#about-me-wrapper #about-left p {
  width: 90%;
}
#about-me-wrapper #about-left img {
  width: 320px;
  padding: 11px;
  border: 1px solid #329980;
  border-radius: 15px 50px;
}
#about-me-wrapper #about-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/Ellipse.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
}
#about-me-wrapper #about-right #skills {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#about-me-wrapper #about-right #skills h3, #about-me-wrapper #about-right #skills i {
  font-size: 1.5rem;
  color: #329980;
  display: block;
  text-align: center;
}
#about-me-wrapper #about-right #skills i {
  font-size: 4rem;
}
#about-me-wrapper #about-right #skills h3 {
  margin-top: 10px;
}
#about-me-wrapper #about-right #skills .skills-col {
  border: 1px solid #329980;
  width: 150px;
  padding: 10px 0px;
  border-radius: 15px;
}
#about-me-wrapper #about-right #info-me {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
  text-align: center;
}
#about-me-wrapper #about-right #info-me .info-me-col h2 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 7px;
}

#services-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-image: url("../img/Ellipse.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 48%;
}
#services-wrapper .services-col {
  width: 320px;
  height: 370px;
  text-align: center;
  background-color: rgba(49, 71, 89, 0.7);
  border-radius: 10px;
  padding: 40px 22px;
  padding-bottom: 20px;
}
#services-wrapper .services-col h2 {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 20px;
  margin-top: 30px;
}
#services-wrapper .services-col i {
  color: #329980;
  font-size: 4rem;
}
#services-wrapper .services-col p {
  color: #CCD6F6;
  width: 100%;
  font-size: 0.9rem;
}

#projects-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/Ellipse.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
}
#projects-wrapper .projects-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#projects-wrapper .projects-row:last-child .item .langs .lang {
  margin-bottom: 0px;
}
#projects-wrapper .projects-row .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects-wrapper .projects-row .item img {
  max-width: 520px;
  border-radius: 10px;
  margin-bottom: 25px;
}
#projects-wrapper .projects-row .item .langs {
  display: flex;
  gap: 15px;
  justify-content: center;
}
#projects-wrapper .projects-row .item .langs .lang {
  background-color: rgba(50, 153, 128, 0.35);
  border-radius: 35px;
  margin-bottom: 50px;
}
#projects-wrapper .projects-row .item .langs .lang p {
  color: #43CCAB;
  padding: 10px 20px;
  font-size: 0.85rem;
}

#contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
#contact-wrapper #contact-left {
  width: 45%;
}
#contact-wrapper #contact-left #form-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact-wrapper #contact-left #form-wrapper form #form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#contact-wrapper #contact-left #form-wrapper form #form-row input {
  background-color: transparent;
  outline: none;
  border: 1px solid #CCD6F6;
  transition: all 0.2s;
  height: 40px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 30px;
  width: 47%;
}
#contact-wrapper #contact-left #form-wrapper form #form-row input::-moz-placeholder {
  color: #CCD6F6;
  font-size: 14px;
}
#contact-wrapper #contact-left #form-wrapper form #form-row input::placeholder {
  color: #CCD6F6;
  font-size: 14px;
}
#contact-wrapper #contact-left #form-wrapper form #form-row input:focus {
  box-shadow: 0 0 7px #CCD6F6;
  transition: all 0.2s;
}
#contact-wrapper #contact-left #form-wrapper form input[type=email] {
  background-color: transparent;
  outline: none;
  border: 1px solid #CCD6F6;
  transition: all 0.2s;
  height: 40px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 30px;
  width: 100%;
}
#contact-wrapper #contact-left #form-wrapper form input[type=email]::-moz-placeholder {
  color: #CCD6F6;
  font-size: 14px;
}
#contact-wrapper #contact-left #form-wrapper form input[type=email]::placeholder {
  color: #CCD6F6;
  font-size: 14px;
}
#contact-wrapper #contact-left #form-wrapper form input[type=email]:focus {
  box-shadow: 0 0 7px #CCD6F6;
  transition: all 0.2s;
}
#contact-wrapper #contact-left #form-wrapper form textarea {
  background-color: transparent;
  outline: none;
  border: 1px solid #CCD6F6;
  transition: all 0.2s;
  height: 40px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 30px;
  height: 140px;
  width: 100%;
  resize: none;
}
#contact-wrapper #contact-left #form-wrapper form textarea::-moz-placeholder {
  color: #CCD6F6;
  font-size: 14px;
}
#contact-wrapper #contact-left #form-wrapper form textarea::placeholder {
  color: #CCD6F6;
  font-size: 14px;
}
#contact-wrapper #contact-left #form-wrapper form textarea:focus {
  box-shadow: 0 0 7px #CCD6F6;
  transition: all 0.2s;
}
#contact-wrapper #contact-left #form-wrapper form input[type=submit] {
  background-color: transparent;
  outline: none;
  border: 1px solid #CCD6F6;
  transition: all 0.2s;
  height: 40px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 30px;
  cursor: pointer;
  width: 40%;
  border-color: #329980;
  font-size: 1rem;
}
#contact-wrapper #contact-left #form-wrapper form input[type=submit]::-moz-placeholder {
  color: #CCD6F6;
  font-size: 14px;
}
#contact-wrapper #contact-left #form-wrapper form input[type=submit]::placeholder {
  color: #CCD6F6;
  font-size: 14px;
}
#contact-wrapper #contact-left #form-wrapper form input[type=submit]:focus {
  box-shadow: 0 0 7px #CCD6F6;
  transition: all 0.2s;
}
#contact-wrapper #contact-left #form-wrapper form input[type=submit]:hover {
  background-color: rgba(50, 153, 128, 0.7);
}
#contact-wrapper #contact-right {
  width: 45%;
}
#contact-wrapper #contact-right #contact-right-wrapper {
  padding: 30px 10px;
  border: 1px solid #329980;
  border-radius: 50px 15px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#contact-wrapper #contact-right #contact-right-wrapper .contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
#contact-wrapper #contact-right #contact-right-wrapper .contact-info p {
  font-size: 1rem;
  color: white;
}
#contact-wrapper #contact-right #contact-right-wrapper .contact-info p a {
  display: inline-block;
}
#contact-wrapper #contact-right #contact-right-wrapper .contact-info p span {
  margin-right: 15px;
  font-size: 25px;
}
#contact-wrapper #contact-right #contact-right-wrapper #social-links {
  display: flex;
  gap: 30%;
  justify-content: center;
}
#contact-wrapper #contact-right #contact-right-wrapper #social-links a {
  font-size: 2rem;
}

footer hr {
  margin-bottom: 15px;
}
footer p {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}

body {
  background-color: #0F172A;
}

a {
  text-decoration: none;
}

.container {
  width: 65%;
  margin: 0px auto;
}

p span {
  color: #ffffff;
}

hr {
  background: linear-gradient(90deg, #0f172a 0%, #727272 50%, #0f172a 100%);
  border: none;
  height: 1px;
  margin: 50px 0px;
}

hr.green {
  border: none;
  height: 5px;
  width: 50px;
  background: #329980;
  margin: 0px auto;
  margin-bottom: 45px;
}

.heading {
  text-align: center;
}
.heading h2 {
  color: #CCD6F6;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

p {
  color: #94A3B8;
}/*# sourceMappingURL=style.css.map */